.story {
  &__title {
    border-bottom: 1px solid rgba(#000, .125);
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;

    a {
      color: #212529;

      &:hover {
        color: #212529;
        text-decoration: underline;
      }
    }
  }

  &__details {
    a {
      font-size: 14px;
    }
  }

  &__points {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-right: 8px;
  }

  &__comments {
    color: lighten(#212529, 30%);
    font-weight: 500;

    &:hover {
      color: lighten(#212529, 15%);
      text-decoration: underline;
    }
  }
}
